/* assets/base-amd.css */
@import url('component-button.css');


:root {
  --padding-content-full-width: 16px;
}

@media (min-width: 768px) {
  :root {
    --padding-content-full-width: 32px;
  }
}

.full-width {
  padding-left: var(--padding-content-full-width);
  padding-right: var(--padding-content-full-width);
  max-width: 100vw;
}

.rich-text__text {
  font-size: 1.4rem;
  letter-spacing: normal;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6; /* 统一行高比例 */
}
