:root {
  --padding-content-full-width: 16px;
}

@media (min-width: 768px) {
  :root {
    --padding-content-full-width: 32px;
  }
}

.full-width {
  padding-left: var(--padding-content-full-width);
  padding-right: var(--padding-content-full-width);
  max-width: 100vw;
}

.rich-text__text {
  font-size: 1.4rem;
  letter-spacing: 0.6px;
  line-height: 22.4px;
}