@media (min-width: 768px) {
  --padding-content-full-width: 32px;
}

:root {
  
}

.full-width {
  padding-left: var(--padding-content-full-width);
  padding-right: var(--padding-content-full-width);
  max-width: 100vw;
}